.events {
    background-color: #fefefe;
    padding: 98px 0 108px;
    & .section-header {
        margin-bottom: 100px;
    }
    & .section-container {
        max-width: 1127px;
    }
    &-item {
        background-color: white;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
    &-top {
        display: flex;
        align-items: flex-start;
        gap: 0 19px;
        margin-bottom: 28px;
    }
    &-date {
        background-color: rgba($primary-color, 0.1);
        width: 76px;
        height: 76px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & span {
            display: block;
            color: $primary-color;
        }
    }
    &-desc {
        color: rgba($black, 0.72);
    }
    &-bottom {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-time {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // slick slider
    .slick-list {
        margin-bottom: 80px;
        padding: 10px 0;
    }
    .slick-track {
        display: flex;
        gap: 0 47px;
        margin-left: -8px;
    }

    @media screen and (max-width: 1279px) {
    padding: 60px 0 70px;
    .section-header {
        margin-bottom: 60px;
    }
    }

}
