.heading {
    font-size: 37px;
    font-weight: 700;
    line-height: calc(54 / 37);
    letter-spacing: -0.46px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
    &-secondary {
        font-size: 23px;
        font-weight: 500;
        line-height: calc(27 / 23);
        letter-spacing: 2.1px;
        margin-bottom: 86px;
        text-transform: uppercase;
        color: $text-color;
        opacity: 0.73;
    }
    @media screen and (max-width: 1023px) {
        font-size: 30px;
    }
}

.text {
    font-size: 22px;
    font-weight: 500;
    line-height: calc(38 / 22);
    color: $desc-color;
    &--desc {
        color: $desc-color;
    }
    &--black {
        color: $black;
    }
    &--black-darker {
        color: $black-dark;
    }
    &--opacity {
        color: rgba($black, 0.72);
    }
    &--xl {
        font-size: 27px;
        font-weight: 700;
        letter-spacing: calc(32 / 27);
    }
    &--large {
        font-size: 24px;
        font-weight: 700;
        line-height: calc(37 / 24);
        @media screen and (max-width: 1279px) {
            font-size: 22px;
        }
    }
    &--medium {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.44px;
        line-height: calc(31 / 18);
    }
    &--base {
        font-size: 16px;
        line-height: calc(28 / 16);
        letter-spacing: 0.44px;
        @media screen and (max-width: 767px) {
            font-size: 13px;
        }
    }
    &--xsmall {
        font-size: 14px;
    }
    &--boldest {
        font-weight: 900;
    }
    &--truncate {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}

.text {
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }
    &-left {
        text-align: left;
    }
}
