$font: "Roboto", sans-serif;

$text-color: #373737;
$heading-color: #2f2f2f;
$desc-color: #7d7d7d;
$dots-color: rgba(124, 124, 124, 0.32);

$primary-color: #717cff;
$black: #37474f;
$black-secondary: #565665;
$black-dark: #252525;
$white-darker: #fafafa;
$gray: #eee;
